<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mobil">

    <uses-permission
        android:name="android.permission.CALL_PHONE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/dmm"
        android:label="DİMİ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AnaSayfa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ekle" />
        <activity android:name=".Sayfa" />
        <activity android:name=".Dogumgunu" />
        <activity android:name=".Sinav" />
        <activity android:name=".Tum" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".Ara_mesaj"></activity>
    </application>

</manifest>
